# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/package-lock.json
/node_modules/
/.idea/
/.angular/cache/17.3.11/monkeyhacks/.tsbuildinfo
/.angular/cache/17.3.11/vite/deps/@angular_core.js
/.angular/cache/17.3.11/vite/deps/@angular_core.js.map
/.angular/cache/17.3.11/vite/deps/@angular_platform-browser.js
/.angular/cache/17.3.11/vite/deps/@angular_platform-browser.js.map
/.angular/cache/17.3.11/vite/deps/@angular_router.js
/.angular/cache/17.3.11/vite/deps/@angular_router.js.map
/.angular/cache/17.3.11/vite/deps/_metadata.json
/.angular/cache/17.3.11/vite/deps/chunk-5FUJWLSI.js
/.angular/cache/17.3.11/vite/deps/chunk-5FUJWLSI.js.map
/.angular/cache/17.3.11/vite/deps/chunk-L6VIMCJS.js
/.angular/cache/17.3.11/vite/deps/chunk-L6VIMCJS.js.map
/.angular/cache/17.3.11/vite/deps/package.json
