<main class="main">
  <div class="content">
    <img ngSrc="images/eyebrows.png"
         alt="eyebrow man sleeping"
         height="118" width="162"
    />
    <img ngSrc="images/pregnut.png" alt="man in love" width="400" height="500">
    <img ngSrc="images/colby.png" alt="disabled man" width="400" height="500">
    <img ngSrc="images/dachandpregnut.png" alt="predator stalking prey" width="400" height="500">
    <img ngSrc="images/lookawayfromthepredator.png" alt="prey realising that they are being hunted" width="400" height="500">
    <img ngSrc="images/youlikethatbaby.png" alt="her perspective" width="400" height="500">
    <img ngSrc="images/relateable.png" alt="real meme" width="400" height="500">
    <h1>App is working as well</h1>
  </div>
</main>

<router-outlet />
